 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}