.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 60px;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

.nav {
    display: flex;
    flex: 2;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4rem;
}

.nav_link_icon {
    display: flex;
    gap: 2rem;
}

.nav_link_icon a i {
    color: white;
    font-size: 30px;
}

.nav-list a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    font-size: 16px;
}

.nav-list a::before {
    content: '';
    position: absolute;
    background-color: #d4af37;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.nav-list a:hover {
    color: #d4af37;
}

.nav-list a:hover::before {
    width: 100%;
}

.logo {
    display: flex;
    flex: 3;
    align-items: center;
    font-size: 2rem;
}

.logo span {
    background: linear-gradient(90deg, #f5d76e, #d4af37, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
}

.logo img {
    width: 130px;
    height: auto;
}
.nav-icon{
    display: flex;
    gap: 25px;
}
.nav-icon i {
    font-size: 25px;
    color: white;
    
}

.nav-icon a:hover {
    color: inherit;
}

.nav-icon a:hover::before {
    width: 0;
}