* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#main {
    position: relative;
    background-color: #f8f8f8;
    padding-top: 30px;
}

#main h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.page-wrapper {
    max-width: 1100px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px 30px 0px;
    box-shadow: 0 0 17px 0px #0000000f;
    border-radius: 12px;
}

.page-wrapper h3 {
    font-size: 22px;
}

.product-ordered,
.order {
    display: flex;
    align-items: center;
}

.product-img-ordered {
    width: 200px;
    height: 200px;
}

.product-img-ordered img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quanity input::-webkit-outer-spin-button,
.quanity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quanity {
    display: flex;
    border: 1px solid black;
    width: 90px;
}

.quanity input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    transition: background 0.2s ease;
}

.plus-btn {
    cursor: pointer;
    border-right: 1px solid black !important;
}

.minus-btn {
    cursor: pointer;
    border-left: 1px solid black !important;
}

.quanity input[type="button"]:hover {
    background-color: #818181;
}