
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}
html,body{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; 
}
.wrapper, .container { 
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    color: white;
    background: rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(5px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navlink{
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     gap: 4rem;
     flex:2.5;
}
.nav-icons{
    display: flex;
    gap: 2rem;
}
.nav-icons a i{
    color: white;
    font-size: 30px;
}
.navlink a{
    position: relative;
    text-decoration:none;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    font-size: 16px;
}
.navlink a::before{
    content: '';
    position: absolute;
    background-color: #d4af37;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}
.navlink a:hover{
    color:#d4af37 ;
}
.navlink a:hover::before{
    width: 100%;
}
.logo{
    display: flex;
    flex:3;
    align-items: center;
    font-size: 2rem;
}
.logo span{
     background: linear-gradient(90deg, #f5d76e, #d4af37, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
}
.logo img{
   width: 130px;
   height: auto;
}
.nav-link-icon{
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     gap: 3.5rem;
     background-color: aliceblue;
}
#account-icon a i{
    font-size: 30px;
}
#account-icon a:hover{
    color: inherit;
}
#account-icon a:hover::before{
    width: 0;
}
#bar-icon{
  display: none;
}
#bar-icon a i{
    font-size: 30px;
}
#bar-icon a:hover{
    color: inherit;
}
#bar-icon a:hover::before{
    width: 0;
}
 .hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    margin: 8rem auto;
    max-width: 1300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.left-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slowShow 4.5s ease forwards;
}
.left-content p:first-child{
    font-size: 50px;
    font-family:"Monoton" , sans-serif ;
    text-align: center;
    color: white;
    line-height: 100px;
}
.left-content p:nth-child(2){
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 45px;
}
.left-content p:first-child > span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
} 
.left-content button{
    margin-top: 40px;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: background 0.3s ease-in-out;
}
.left-content button:hover{
    cursor: pointer;
    background-image: none;
    background-color: #a9b0b5;
}
.img-wrapper{
    animation: slideInLeft 2s ease forwards;
}
#right-content-img{
    transition: transform 0.3s ease ;
}
#right-content-img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slowShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#about .header{
    margin: 0 auto;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 30px;
    color: #D4AF37;
}
#about .about-header{
    margin: 0 auto;
    width: 50%;
    height: auto;
}
.about-header p{
    text-align: center;
    color: white;
    line-height: 30px;
}
.about-content{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-top: 80px;
}
.about-item{
    width: 400px;
}
.about-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #D4AF37;
}
.about-item ul {
    margin-left: 20px;
    line-height: 1.6;
    color: white;
}

/*Mobile: width < 740px*/
@media only screen and (max-width:46.1875em) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 5px 0px;
    }
    .navlink , #account-icon{
        display: none;
    }
    #bar-icon{
        display: block;
    }
    .logo{
        display: flex;
        flex:1
    }
}
/*Table: width >= 740px and width < 1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
        
}
/*PC : width >= 1024px*/
@media only screen and (min-width:64em) {
        
}