

.wrapper,
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    margin: 4rem auto;
    max-width: 1300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slowShow 4.5s ease forwards;
}

.left-content p:first-child {
    font-size: 50px;
    font-family: "Monoton", sans-serif;
    text-align: center;
    color: white;
    line-height: 100px;
}

.left-content p:nth-child(2) {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 45px;
}

.left-content p:first-child>span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.left-content button {
    margin-top: 40px;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.left-content button:hover {
    cursor: pointer;
    background-image: none;
    background-color: #a9b0b5;
}

.img-wrapper {
    animation: slideInLeft 2s ease forwards;
}

#right-content-img {
    transition: transform 0.3s ease;
}

#right-content-img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slowShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.Hero ,.reveal{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 600ms ease-out , transform 600ms ease-out;
}
.show{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}