img {
    width: 100%;
    display: block;
}

.product-detail {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-gallery {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 18px;
}

.product-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-right {
    padding: 20px;
}

.product-containner {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f8f7f2;
    border-radius: 5px;
    column-gap: 20px;
}

.big-product-img {
    position: relative;
    background-color: #f0efeb;
    width: 70%;
    height: 400px;
}

.heart {
    position: absolute;
    top: 20px;
    right:25px;
    font-size: 25px;
    cursor: pointer;
}

.red-heart {
    color: red;
    font-weight: 900;
}

.big-product-img img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.small-product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.small-product-img div {
    border-radius: 2px;
    margin: 0 4px 8px 4px;
    background-color: #ebeae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.small-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.small-product-img div:hover {
    background-color: #f2f1ec;
    transform: scale(1.03);
    transition: 0.3s ease;
    cursor: pointer;
}

.product-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 22px;
    letter-spacing: 1px;
    line-height: 30px;
}



.product-name span {
    color: green;
    font-size: 19px;
}

.product-pricing {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
}

.product-price {
    font-size: 24px;
    font-weight: 700;
    color: #bd953a;
}

.product-old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin: 0;
}

.product-discount {
    background-color: #e74c3c;
    color: white;
    padding: 7px 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.product-rating i {
    font-size: 18px;
    color: yellow;
    margin-right: 5px;
}

.product-description {
    text-align: justify;
    margin-top: 22px;
    line-height: 1.5;
    color: rgb(168, 168, 168);
    font-weight: 20px;
}

.product-btn-groups {
    display: flex;
    gap: 35px;
}

.product-btn-groups button {
    border-radius: 5px;
    border: none;
    padding: 15px 16px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.add-cart-btn {
    background-color: #ff9f00;
    color: #fff;
}

.buy-now-btn {
    background-color: #0b6623;
    color: #fff;
}

button.add-cart-btn:hover {
    background-color: #e68a00;
    cursor: pointer;
}

button.buy-now-btn:hover {
    background-color: #117a37;
    cursor: pointer;
}

.product-information {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 1.5rem;
    border-radius: 3px;
    width: 100%;
}

.info-title {
    margin-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.5px;
    border-left: 4px solid #c7a038;
    padding-left: 10px;
}

.product-info-row {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.product-info-row aside {
    display: inline-block;
}

.product-info-row:nth-child(odd) {
    background-color: #f5f5f5;
    border-radius: 6px;
}

.product-info-cell {
    width: 50%;
    padding: 12px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.box-inform {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    border-radius: 5px;
    background-color: #10b981;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    z-index: 2;
}

.box-inform p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.success {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.hidden-box {
    display: none;
}